Source: ipmctl
Section: libs
Priority: optional
Maintainer: Not Valid <not.valid@intel.com>
Build-Depends: debhelper (>= 10),
               cmake (>=2.8.12),
               pkg-config,
               python,
               asciidoctor,
               libndctl-dev (>= 58.2)
Standards-Version: 4.1.2
Homepage: https://github.com/intel/ipmctl
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/ipmctl.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ipmctl.git

Package: ipmctl
Section: misc
Architecture: amd64
Depends: libipmctl2 (=${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Utility for configuring and managing Intel Optane DC persistent memory modules (PMM).
 This package provides a CLI with the following functionality:
 Discover PMMs on the platform.
 Provision the platform memory configuration.
 View and update the firmware on PMMs.
 Configure data-at-rest security on PMMs.
 Track performance of PMMs.
 Debug and troubleshoot PMMs.

Package: libipmctl2
Section: libs
Architecture: amd64
Depends: libndctl6 (>= 58.2),
         libsafec3,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Library for managing Intel Optane DC persistent memory modules (PMM).
 This package provides an API for the following functionality:
 Discover PMMs on the platform.
 Provision the platform memory configuration.
 View and update the firmware on PMMs.
 Configure data-at-rest security on PMMs.
 Track performance of PMMs.
 Debug and troubleshoot PMMs.

Package: libipmctl-dev
Section: libdevel
Architecture: amd64
Depends: libipmctl2 (=${binary:Version}),
         ${misc:Depends}
Description: Development files for libipmctl
 Header files and development library for compiling C programs to link
 with the libipmctl library and manage PMMs.
