*.uni diff=word

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

src/os/** text eol=lf
Dcpmpkg/** text eol=lf
CMakeLists.txt text eol=lf
CMake/** text eol=lf
install/linux/logrotate/** text eol=lf
install/linux/debian/** text eol=lf
