/.vs
/Build
/linux
/tools/ld_scripts
/output
/cmake_build
*~HEAD
CMakeSettings.json
*.pyc
src/os/efi_shim/os_efi_hii_auto_gen_defs.h
src/os/efi_shim/os_efi_hii_auto_gen_strings.h
src/os/ipmctl_default.conf
